<div class="container-fluid py-5" abd>
  <form class="row" [formGroup]="form" (ngSubmit)="submit()">
    <ng-container formGroupName="name">
      <div class="col-sm-3 form-group pb-3">
        <label for="firstName" class="pb-2"> First Name </label>
        <input type="text" formControlName="first" class="form-control" />
      </div>
      <div class="w-100"></div>
      <div class="col-sm-3 form-group">
        <label for="LastName" class="pb-2"> Last Name </label>
        <input type="text" formControlName="last" class="form-control" />
      </div>
    </ng-container>
    <div class="w-100"></div>
    <div class="col-sm-3 form-group pb-3">
      <label for="age" class="pb-2"> Age </label>
      <input type="number" formControlName="age" class="form-control" />
    </div>
    <div class="w-100"></div>
    <div class="col-sm-3 form-group pb-3">
      <label for="age" class="pb-2"> Address </label>
      <textarea
        name="address"
        id="address"
        rows="4"
        class="form-control"
        formControlName="address"
        [customTemplate]="customErrorTemplate"
      ></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<ng-template #customErrorTemplate let-error>
  <div class="bg-danger card">
    <span class="text-white">{{ error }}</span>
  </div>
</ng-template>
